{% style %}
.bulk-discount-box {
  background: #f8f8f8;
  padding: 8px 12px;
  font-size: 15px;
  color: #1d1d1d;
  margin: 10px 0 10px 0;
  display: inline-block;
  max-width: 400px;
  line-height: 1.2;
  border: #009fe3 3px dotted;
}

{% endstyle %}

<div class="bulk-discount-box"><span class="icon-notification"></span> Erhalte jetzt automatisch weitere <b>20% Rabatt</b>, wenn du mindestens <b>2 x {{ product.title }}</b> bestellst.</div>