{% style %}
  .bulk-discount-box {
    background: #f8f8f8;
    padding: 8px 12px;
    font-size: 15px;
    color: #1d1d1d;
    margin: 10px 0 10px 0;
    display: inline-block;
    max-width: 400px;
    line-height: 1.2;
    border: #009fe3 3px dotted;
  }
{% endstyle %}

{% if settings.product_page_discount_message %}
  <!--div class="bulk-discount-box"><span class="icon-notification"></span> Erhalte jetzt automatisch weitere <b>10% Rabatt</b>, wenn du mindestens <b>2 x {{ product.title }}</b> bestellst.</div-->
  <div class="bulk-discount-box"><b>Black Friday Sale!</b> Weitere ... <br>- 15% Rabatt - ab 2 Produkten<br>- 25% Rabatt - ab 4 Produkten<br>- 25% Rabatt - 6+ Produkten<br>  </div>
{% endif %}