{%- for property in item.properties -%}
  {%- if property.first.first == '_' -%}{% continue %}{%- endif -%}
  {%- if property.first == 'total_inventory_quantity' -%}{% continue %}{%- endif -%}
  <p class="MyCart_ValueItem">
    {% if property.first == 'upload' %}
      Datei:
    {% else %}
      <b>{{ property.first }}: </b>
    {% endif %}
    <span>{{ property.last }}</span>
  </p>
{%- endfor -%}