<script type="application/json" data-ajax-cart-initial-state>
    {{ cart | json }}
</script>

<script type="module">
    import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
</script>

<script type="application/json" data-ajax-cart-configuration>
    {
      "addToCartCssClass": "js-my-cart-open"
    }
</script>

{% comment %} Promo variant id - we need the id of one of the variants {% endcomment %}
{% if settings.gift_product_variant_id != blank %}
  {% assign promoVariant = settings.gift_product_variant_id %}
{% endif %}
{% if settings.gift_product_min_spend != blank %}
  {% assign promoSubtotal = settings.gift_product_min_spend %}
{% endif %}


<script type="module">
    import { cartRequestAdd, cartRequestChange, subscribeToCartStateUpdate } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';

    function suggestedUpsells() {
      console.log("suggestedUpsells function started");
        // Slider for suggested upsell products
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true,
                    dots: false
                }
            }
        });

        // Heading for upsells
        const upsellActive = document.querySelectorAll(".MyCartUpsells_ItemWrapper");
        const upsellsWrapper = document.querySelector(".MyCartUpsells_SuggestedContainer");
        const suggestionsTitle = document.querySelector("#MyCartUpsells_MainTitle");

        if (upsellActive.length > 0) {
            if (!suggestionsTitle) {
                upsellsWrapper.insertAdjacentHTML("afterbegin", `<h2 id="MyCartUpsells_MainTitle" class="MyCart_H2 MyCartUpsells_MainTitle">Diese Produkte könnten Ihnen auch gefallen</h2>`)
            } else {
                //console.log("title already added");
            }
        }

        const submitButtons = document.querySelectorAll(".MyCartUpsells_SubmitButton");
        submitButtons.forEach(button => {
            button.addEventListener("click", event => {
                closeUpsell();
            });
        });
    }
    suggestedUpsells();

    subscribeToCartStateUpdate(state => {
      suggestedUpsells();
    });

</script>


<script type="module">
  import { cartRequestAdd, cartRequestChange, subscribeToCartStateUpdate } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
  
  subscribeToCartStateUpdate(state => {
    addCartTotalDiscount();
  });
  
  export function addCartTotalDiscount() {   
    const discountsWrapper = document.querySelector("#MyCart_DiscountWrapper");
    const discounts = document.querySelectorAll(".MyCart_ItemDiscount");
    if (discountsWrapper) {
        discountsWrapper.remove();
    }
    
    const totalCartWrapper = document.querySelector("#MyCart_TotalFinalWrapper");
    if (totalCartWrapper) {
      totalCartWrapper.insertAdjacentHTML("afterend",
        `<div id="MyCart_DiscountWrapper" class="MyCart_DiscountInfo MyCart_FooterText MyCart_HighlightedText">
            <span>Sie sparen  </span>
            <p id="MyCart_ItemDiscountTotal"></p>
        </div>`);
    }
    
    let sum = 0;
    let totalPrice = 0;
    if (discounts) {
      totalPrice = document.querySelector(".MyCart_FinalPrice");
      if (totalPrice){
        totalPrice = totalPrice.innerText;
        totalPrice = totalPrice.replace("€", "").trim();
        totalPrice = 0 + parseFloat(totalPrice.replace(".", "").replace(",", "."));
      }
      
      discounts.forEach(element => {
        let discount = element.innerText.replace("€", "").trim();
        sum = sum + parseFloat(discount.replace(".", "").replace(",", "."));
      });
      sum = sum - totalPrice;
      sum = Intl.NumberFormat("de-DE", { style: "currency", currency: "EUR" }).format(sum);
    }
    
    const totalDiscountElement = document.querySelector("#MyCart_ItemDiscountTotal");
    if (totalDiscountElement) {
      totalDiscountElement.innerText = sum;
    }
  }
  
  addCartTotalDiscount();
</script>

<script>
  function overlayOn() {
    document.getElementById("MyCart_Overlay").style.display = "block";
  }
  function overlayOff() {
    document.getElementById("MyCart_Overlay").style.display = "none";
    document.querySelector("#MyCart_Slider").classList.add("MyCartCloses");
    closeUpsell();
  }
  function UpsellOverlayOn() {
    const upsellOverlay = document.querySelector("#MyCart_UpsellOverlay");
    upsellOverlay.style.display = "block";
  }
  function UpsellOverlayOff() {
    const upsellOverlay = document.querySelector("#MyCart_UpsellOverlay");
    upsellOverlay.style.display = "none";
  }
  function closeUpsell() {
    //const mainUpsellContainer = event.target.closest(".MyCartUpsells_MainContainer");
    const cartUpsellWrapper = document.querySelectorAll(".MyCartUpsells_MainContainer");
    cartUpsellWrapper.forEach(element => {
        element.style.transform = "translateX(100%)";
    });
    //mainUpsellContainer.style.transform = "translateY(100%)";
    UpsellOverlayOff();
  }
  function openCartUpsell() {
    const id = event.target.dataset.upsellId;
    const firstPrice = event.target.dataset.firstPriceAvailable;
    const comparedPrice = event.target.dataset.firstComparedPrice;
    const firstPriceNumber = firstPrice.substr(0, 2);
    const comparedPriceNumber = comparedPrice.substr(0, 2);
    const cartUpsellWrapper = document.querySelector("#cartUpsellWrapper_" + id);
    //cartUpsellWrapper.style.display = "block";
    cartUpsellWrapper.setAttribute("data-status", "active");
    cartUpsellWrapper.style.transform = "translateX(0%)";
    const priceElement = document.querySelector("#cartUpsellWrapper_" + id + " .MyCart_UpsellPrice");
    const comparedPriceElement = document.querySelector("#cartUpsellWrapper_" + id + " .MyCart_ComparedPrice");
    priceElement.textContent = firstPrice;
    if(firstPriceNumber < comparedPriceNumber){
      comparedPriceElement.textContent = comparedPrice;    
    } else if (firstPriceNumber === comparedPriceNumber) {
      priceElement.classList.remove("MyCart_HighlightedText");
    }
    UpsellOverlayOn();
  }


</script>