{% style %}
.shipping_company_logos{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shipping_company_logos > span{
  font-size: 40px;
  padding: 10px;
}

{% endstyle %}
<div class="shipping_company_logos">
  <span class="icon-logo-dhl"></span><span class="icon-logo-dpd"></span><span class="icon-logo-ups"></span>
</div>