<header class="page-masthead">
  <h1 class="page-title">
    {{ page.title }}
  </h1>
</header>


{% schema %}
{
  "name": "FAQ Header",
  "class": "accordion--container",
  "settings": [
  ]
}

{% endschema %}