.kr-privacy-icon, .kr-important-icon{
  position: relative; top: 2px; color: #fe8761;
}
.kr-important-icon{
  left: 3px; padding-right: 6px; font-weight: bold;
}
.kr-privacy-icon{
  font-size: 18px;
}
.cl-po--swatch {
    border-width: 2px!important;
}
.cl-po--option{
  margin-bottom: 10px !important;
}
#clqpzgw9nkgl .cl-po--option{
  margin-bottom: 20px !important;
}
label.cl-po--input .cl-po--upload-button {
  font-family: {{ fonts_type_body_family }};
  font-style: {{ fonts_type_body_style }};
  font-weight: {{ fonts_type_body_weight }};
  font-size: var(--font-size-body); 
  z-index: 1;
  width: 100%;
  padding: 1.5rem 0.625rem 0.375rem;
  color: {{ settings.color_input_text }};
  background-color: {{ settings.color_input_background }};
  border: 1px solid {{ settings.color_input_border }};
  border-radius: 3px;
}