/* tick green icon - when uploading an image, linked to success-icon.js.liquid */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.success-icon:before{
  content: "";
  display: inline-block;
  height: 13px;
  width: 7px;
  border-bottom: 3px solid green;
  border-right: 3px solid green;
  transform: rotate(45deg);
  animation-name: fadeIn;
  animation-duration: 5s;
}
.cl-po--upload-files div{
  display: inline;
  padding-left:5px !important;
}

/* Quality Icons */
.quality_icons_MainContainer{
  display: flex;
  flex-wrap: wrap;
  background-color: #E7F6FD;
  padding: 0 20px;
  margin-top: 20px;
  max-width: 400px;
}
.quality_icons_MainContainer > div {
  width: 50%;
  display: flex;
  align-items: center;
}

.quality_icons_MainContainer > div > span {
  font-size: 40px;
  color: #009FE3;
  margin-right: 7px;
}
.quality_icons_Text{
  font-size: 15px;
}

@media only screen and (max-width: 370px){
  .quality_icons_Text{
    font-size: 14px;
  }
}

/* Variant option with image */
.option-value-input:checked + .variant-ui__image:before{
  background-color: #312783;
  color: white;
}
.option-value-input + .variant-ui__image:before{
  color: #312783;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 0;
  font-size: 70px;
  background-color: transparent;
}
.option-value-input + .variant-ui__image:hover:before{
  opacity: 1;
}
.option-value-input + .variant-ui__image{
  padding: 0;
}
.mdc-ripple-surface.mdc-ripple-upgraded:after, .icon-dog-face, .icon-dog-body, .icon-dog-face:before, .icon-dog-body:before, .icon-dog-face:after, .icon-dog-body:after{
  width: 71.6px !important;
  height: 71.6px !important;
}
.variants-ui__option-value-label .option-value-input + .icon-dog-body:before{
  content: "\e915";
}
.variants-ui__option-value-label .option-value-input + .icon-dog-face:before{
  content: "\e918";
}
.variants-ui__option-value-label .option-value-input + .icon-human-body:before{
  content: "\e917";
}
.variants-ui__option-value-label .option-value-input + .icon-human-face:before{
  content: "\e916";
}
.option-value-input + .variant-ui__imageHead{
  background-image: url('https://cdn.shopify.com/s/files/1/0621/3235/5303/files/Group_40.svg?v=1658747609');
}