[data-controller="wrapped-product"] {
  margin-bottom: 1em;
  margin-top: 0.25em;
}

[data-controller="wrapped-item"] {
  margin-bottom: 1em;
}

[data-controller="wrapped-item"] [data-features--checkbox-target="wrapper"] span.checkbox_label {
  font-size: 90%;
}